/* Padronizações iniciais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: black;
    background-color: white;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ----------------------- Bloco BACKGROUND ----------------------- */
.background {
    background-image: url(svg/capa.svg);
    background-size: cover;
    width: 100%;
    flex-grow: 1;
    position: relative;
}

.background__flex {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.background__logo {
    height: 40px;
    margin: 30px 20px 60px;
}

.background__flat {
    background-color: #F3F3F3;
    height: 1px;
    width: 100%;
    flex-grow: 1;
}


/* ----------------------- Bloco MAIN ----------------------- */
.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 20px 20px;
}


/* ----------------------- Bloco SIGNUP ----------------------- */
.signup {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 1px 2px #2E2D2C66;
    padding: 20px;
    width: 100%;
}

.signup__title {
    font: 700 24px/36px 'Open Sans';
    margin-bottom: 20px;
}

.signup__text {
    font: 400 14px/20px 'Open Sans';
    margin-bottom: 20px;
}

.signup__subtitle {
    font: 600 16px/24px 'Open Sans';
    margin-bottom: 20px;
}

.signup__label {
    font: 400 14px/20px 'Open Sans';
}
.signup__label_required::before {
    content: '*';
    color: #E65562;
    margin-right: 4px;
}

.signup__input {
    width: 100%;
    border: 1px solid #ABABAB;
    font: 400 14px/18px 'Open Sans';
    padding: 10px;
    margin: 6px 0 2px;
}

.signup__message {
    font: 400 10px/14px 'Open Sans';
    margin-bottom: 20px;
}

.signup__button {
    background-color: #3570B2;
    border: none;
    border-radius: 9999px;
    color: white;
    font: 600 16px/24px 'Open Sans';
    padding: 9px 20px;
    margin-top: 10px;
    box-shadow: 0px 3px 6px #2E2D2C66;
}


/* ----------------------- Bloco FOOTER ----------------------- */
.footer {
    height: 64px;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(153deg, #5A5789 0%, #2D2C45 100%);
}

.footer__text {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}